[package]
name = "app"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[[bin]]
name = "voice-agent"
path = "src/main.rs"

[dependencies]
lib = { path = "../lib" }
atty = "0.2"
tracing-subscriber = { workspace = true }
